body {
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 1000px){
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

section {
    background-color: white;
    /* border: solid black 1px; */
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /* width: 200px; */
    text-decoration: none;
    font-size: 25px;
}

h1 {
    font-size: 80px;
    margin: 0;  
}

h2 {
    font-size: 50px;
    margin: 0;
}

h3 {
    justify-content: space-around;
    font-size: 30px;
    margin-left: 10px;
}

h5{
    margin: 0;
    font-size: 20px;
}

p {
    margin: 0;
    font-weight: 50;
    font-size: 30px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
}

.subtext-link{ 
    /* font-size: 15px;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px; */
    margin-bottom: 10px;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-color: coral;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #A9A9A9;
    color: #5a5959;
}

.socials{
    margin-right: 20px;
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 10px;
}

.social{
    margin-right: 15px;
    padding-top: 10px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.headshot-container {
    align-items: center;
    padding-right: 30px;
}

.headshot {
    width: 300px;
    border-width: 10px;
    border-color: #ef744b;
    border-radius: 100px;
}

.projects-title {
    margin-bottom: 20px;
}

.project-title {
    justify-content: space-around;
    font-size: 20px;
}

.project-card {
    height: 500px;
    width: 300px;
    box-shadow: 5px 5px 20px rgb(197, 187, 187);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin-top: 10px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    h3{
        display: none;
    }

    ul {
        display: none;
        background-color: #363849;
        margin: 0;
    }

    ul.show {
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: #363849;
    }

    .logo{
        display: none;
    }

    .sub-section{
        display: block;
        justify-content: space-around;
        /* padding: 80px; */
    }

    .headshot-container {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}